<h1>Hello my friend</h1>
<p>You typed <%=@login %></p>
<p>Your password <%=@password%></p>
<p><%= @message %></p>
<form action="/" method="POST">
		<input type="text" name="aaa"/>
		<input password="text" name="bbb"/>
		<input type="submit"/>
</form>
</form>